<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-hospital-fill me-2"></i>
      <strong>Gestão de Escala de Plantões</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a
            class="nav-link"
            routerLink="{{ item.path }}"
            routerLinkActive="active"
          >
            <i class="bi {{ item.icon }} me-1"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
